@model Platforma.Models.LoginViewModel

<form asp-action="Login" method="post">
    <div>
        <label>Email</label>
        <input asp-for="Email" />
    </div>
    <div>
        <label>Password</label>
        <input asp-for="Password" type="password" />
    </div>
    <div>
        <input asp-for="RememberMe" type="checkbox" />
        <label>Запомнить меня</label>
    </div>
    <button type="submit">Войти</button>
</form>